
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}

#version{
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}

.container1{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    background-image: url("images/background/rect1.png") ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}    
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
}
.gif1{
    margin: 100px 100px 0px 0px;
}
.col-1{
    position: relative;
    margin-left: 150px;
    margin-top: -100px;
}
.row-3{
    display: flex;
    align-items: center;
}
.t1{
    font-size: 60px;
    color: #20B787;
}
.t2{
    font-size: 60px;
    color: #F5A623;
}
.buttons{
    display: flex;
    margin-top: 50px;
  
}
.line{
    width: 2px;
    height: 50px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: #000;
}

button{
    width: 100px;
    background-color: white;

}
.appoint{
   
    cursor: pointer;
    width: 120px;
    color: #000;
    border: none;
    background: rgb(255, 255, 255,0.5);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    transition: background-color 0.7s;
}


.hire{
    cursor: pointer;
    color: #000;
    background: rgb(255, 255, 255,0.5);
    border-radius:10px;
    border-width: 1px;
    transition: background-color 0.7s;
}
.appoint:hover{
    color: white;
    background-color: #F5A623;
    
}
.hire:hover{
    color: white;
    background-color: #20B787;
    border-width: 0px;
}

